header {
	background-color: white;
	height: 70px;
	width: 100%;
	border-bottom: 1px #CCCCCC solid;
}

.logo {
	align-self: flex-start;
	height: 95%;
	width: auto;
	margin-left: 20px;
	background-image: url("../images/logo.png");
	background-size: contain;
	background-repeat: no-repeat;
}