.price_by_night {
color: #FF5A5F;
	border: #FF5A5F solid 4px;
	border-radius: 50%;
	min-width: 60px;
	height: 60px;
	font-size: 30px;
	text-align: center;
	padding: 10px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 20px;
	right: 20px;
}

.places {
	text-align: center;
	padding: 20px;
}

.places article {
	display: inline-grid;
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: #FF5A5F 1px solid;
	border-radius: 4px;
	position: relative;
}

.places h1 {
	font-size: 30px;
	text-align: left;
	margin: 10px;
}

.places article h2 {
	font-size: 30px;
	text-align: center;
}

.information {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	height: 80px;
	border: 1px solid #DDDDDD;
	border-width: 1px 0;
	padding-top: 10px;
	margin-top: 40px;
	margin-bottom: 10px;
}

.information .max_guest,
.information .number_rooms,
.information .number_bathrooms {
	width: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: justify;
}

.information .guest_icon,
.information .guest_icon,
.information .room_icon,
.information .bath_icon {
	height: 50px;
	width: 50px;
	text-align: center;
	/* display: inline-block; */
}

.information .guest_icon {
	background-image: url("../images/icon_group.png");
	background-repeat: no-repeat;
}

.information .room_icon {
	background-image: url("../images/icon_bed.png");
	background-repeat: no-repeat;
}

.information .bath_icon {
	background-image: url("../images/icon_bath.png");
	background-repeat: no-repeat;
}

.user,
.description {
	text-align: left;
	padding: 5px 0;
}

.user {
	line-height: 2em;
}